RewriteEngine On
RewriteBase /pondok-gita-ubud/

# Jika ada request yang tidak sesuai, arahkan ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
